<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.autel.cloud.pile.base.infrastructure.mapper.DataStatsMapper">

    <select id="evseStats" parameterType="long" resultType="map">
        select count(*) as count,c.power_type as powerType
        from op_location_evse e
        left join op_location l ON l.id = e.location_id
        left join op_location_connector c ON e.id = c.location_evse_id
        WHERE e.deleted = 0
        AND l.`deleted` = 0
        AND c.deleted = 0
        <if test="operatorId != null">
            and l.operator_id = #{operatorId}
        </if>
        GROUP BY c.power_type
    </select>
    <select id="countByOperatorId" resultType="int" parameterType="long">
        select count(*)
        from op_location l
        where l.`deleted` = 0
        <if test="operatorId != null">
            and l.operator_id = #{operatorId}
        </if>
    </select>

    <select id="statusCountByOperatorId" resultType="map" parameterType="long">
        select count(*) as count,e.state
        from op_location_evse e
        left join op_location l ON l.id = e.location_id
        where e.`deleted` = 0 AND l.`deleted` = 0
        <if test="operatorId != null">
            and l.operator_id = #{operatorId}
        </if>
        group by e.state
    </select>
</mapper>
