<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.autel.cloud.pile.base.infrastructure.mapper.DemandControlConfigMapper">
    <resultMap id="BaseResultMap" type="com.autel.cloud.pile.base.infrastructure.mapper.entity.DemandControlConfigEntity">
            <id property="id" column="id" jdbcType="BIGINT"/>
            <result property="controllerName" column="controller_name" jdbcType="VARCHAR"/>
            <result property="controllerRange" column="controller_range" jdbcType="VARCHAR"/>
            <result property="intervalTime" column="interval_time" jdbcType="BIGINT"/>
            <result property="merchantId" column="merchant_id" jdbcType="BIGINT"/>
            <result property="groupId" column="group_id" jdbcType="BIGINT"/>
            <result property="controllerContent" column="controller_content" jdbcType="VARCHAR"/>
            <result property="status" column="status" jdbcType="TINYINT"/>
            <result property="deleted" column="deleted" jdbcType="TINYINT"/>
            <result property="createdAt" column="created_at" jdbcType="BIGINT"/>
            <result property="updatedAt" column="updated_at" jdbcType="BIGINT"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,controller_name,interval_time,merchantId,
        group_id,controller_content,status,controller_range,
        deleted,created_at,updated_at
    </sql>
    <select id="findContentByGroupId" resultType="java.lang.String">
        SELECT controller_content controllerContent FROM demand_control_config WHERE group_id = #{groupId}
          and status = 1 and deleted = 0  limit 1
    </select>
</mapper>
