<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.autel.cloud.pile.base.infrastructure.mapper.OpEvseBrandModelMapper">
    <update id="deleteById" parameterType="Long">
        update op_evse_brand_model
        set deleted = 1
        where id = #{id}
    </update>

</mapper>
