<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.autel.cloud.pile.base.infrastructure.mapper.OpEvseDirectionsMapper">
    <update id="deleteByLocationEvseId" parameterType="Long">
        update op_evse_directions
        set deleted = 1
        where location_evse_id = #{id}
    </update>

    <update id="updateByLocationEvseId" parameterType="com.autel.cloud.pile.base.infrastructure.mapper.entity.OpEvseDirectionsEntity">
        update op_evse_directions
        set updated_at = #{updatedAt}, deleted = #{deleted}, status = #{status}, language = #{language}, text = #{text}
        where location_evse_id = #{id}
    </update>
</mapper>
