<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.autel.cloud.pile.base.infrastructure.mapper.OpLimitFreeMapper">

    <update id="deleteLimitFreeByIds" parameterType="Long">
        update op_limit_free
        set deleted = 1
        where
        <if test="ids != null and ids.size() > 0">
            id in
            <foreach collection="ids" item="it" open="(" close=")" separator=",">
                #{it}
            </foreach>
        </if>
    </update>

</mapper>