<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.autel.cloud.pile.base.infrastructure.mapper.OpLocationPileGroupAssociateMapper">

    <select id="findGroupIdByPileSn" resultType="java.lang.Long">
        select group_id from op_location_pile_group_associate where deleted = 0  and `pile_sn`  = #{pileSn}
    </select>

    <select id="findGroupIdByMerchantIdAndPileSnAndGroupName" resultType="java.lang.Long">
        select group_id
        from op_location_pile_group_associate
        where deleted = 0
        <if test="pileSn != null and pileSn != ''">
            and LOCATE(#{pileSn},`pile_sn`) > 0
        </if>
        and group_id in (select id from op_location_pile_group where merchant_id = #{merchantId})
        union
        select id as group_id
        from op_location_pile_group
        where deleted = 0
        <if test="groupName != null and groupName != ''">
            and LOCATE(#{groupName},`name`) > 0
        </if>
        and  merchant_id = #{merchantId}

    </select>

    <select id="findGroupId" resultType="java.lang.Long">
        select group_id
        from op_location_pile_group_associate
        where deleted = 0 and location_id = #{locationId}
        <if test="pileSn != null and pileSn != ''">
            and LOCATE(#{pileSn},`pile_sn`) > 0
        </if>
    </select>


    <select id="findGroupIdByMerchantIdAndPileSn" resultType="java.lang.Long">
        select group_id
        from op_location_pile_group_associate
        where deleted = 0
        <if test="pileSn != null and pileSn != ''">
            and LOCATE(#{pileSn},`pile_sn`) > 0
        </if>
        and group_id in (select id from op_location_pile_group where merchant_id = #{merchantId})
    </select>

    <select id="findList"
            resultType="com.autel.cloud.pile.base.infrastructure.mapper.entity.OpLocationPileGroupAssociateEntity">
        select id,pile_sn,group_id,status from op_location_pile_group_associate
        where deleted = 0
        <if test="groupIds != null and groupIds.size() > 0">
            <foreach collection="groupIds" item="it" open="and group_id in(" separator="," close=")">
                #{it}
            </foreach>
        </if>
    </select>
    <select id="findDetailList" resultType="com.autel.cloud.pile.base.vo.OpLocationPileGroupAssociateVO">
        select r.id, r.pile_sn, r.group_id, g.name as groupName,g.pid
        from op_location_pile_group_associate r
                 left join op_location_pile_group g on r.group_id = g.id
        where r.deleted = 0
          and g.deleted = 0
        <if test="pileSnList != null and pileSnList.size() > 0">
            <foreach collection="pileSnList" item="it" open="and r.pile_sn in(" separator="," close=")">
                #{it}
            </foreach>
        </if>
    </select>
    <select id="findListDeleted"
            resultType="com.autel.cloud.pile.base.infrastructure.mapper.entity.OpLocationPileGroupAssociateEntity">
        select a.id,a.pile_sn,a.group_id from op_location_pile_group_associate a
        where a.id in (select max(id) from op_location_pile_group_associate where deleted = #{deleted}
        <if test="pileSnList != null and pileSnList.size() > 0">
            <foreach collection="pileSnList" item="it" open="and pile_sn in(" separator="," close=")">
                #{it}
            </foreach>
        </if>
        group by pile_sn )
    </select>

    <select id="findAssociateList" resultType="com.autel.cloud.pile.base.infrastructure.mapper.entity.OpLocationPileGroupAssociateEntity">
        <foreach collection="groupIdList" item="group" separator=" union " index="index">
            (select *  from op_location_pile_group_associate where group_id = #{group} and deleted = 0
            <if test="index == 0">
                limit #{pageSize}
            </if>
            <if test="index > 0">
                limit 1
            </if>
            )
        </foreach>
        order by pile_sn asc ,created_at desc, id desc
    </select>
    <select id="findDemandGroupIds" resultType="java.lang.Long">
        select id from op_location_pile_group where merchant_id = #{merchantId} and group_type = 1 and deleted = 0
    </select>
</mapper>
