<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.autel.cloud.pile.base.infrastructure.mapper.OpLocationOperationMapper">
    <update id="deleteByLocationId" parameterType="Long">
        update op_location_operation
        set deleted = 1
        where location_id = #{locationId}
    </update>

    <!--<update id="updateByLocationId" parameterType="com.autel.cloud.pile.base.infrastructure.mapper.entity.OpLocationOperationEntity">
        update op_location_operation
        set updated_at = #{updatedAt}, deleted = #{deleted}, status = #{status}, operation_type = #{operationType}
        , state = #{state}, service_tel = #{serviceTel}, announcement = #{announcement}, open_type = #{openType}
        , app_show = #{appShow}, trans_power = #{transPower}, billing_rule = #{billingRule}
        where location_id = #{locationId}
    </update>-->
    <update id="updateByLocationId"
            parameterType="com.autel.cloud.pile.base.infrastructure.mapper.entity.OpLocationOperationEntity">
        update op_location_operation
        set updated_at = #{updatedAt}, service_tel = #{serviceTel}, open_type = #{openType}
        , app_show = #{appShow}, trans_power = #{transPower}, billing_rule = #{billingRule},logo_image_id = #{logoImageId},operation_date = #{operationDate}
        where location_id = #{locationId}
    </update>

    <select id="selectLocationIdsByOperationType" parameterType="String" resultType="Long">
        select location_id from op_location_operation where operation_type = #{operationType}
    </select>

    <select id="existsByGroupIdIn" parameterType="long" resultType="com.autel.cloud.pile.base.infrastructure.mapper.entity.OpLocationOperationEntity">
        select * from op_location_operation
        <where>
            deleted = 0
            <if test="_parameter != null and _parameter.size()>0 ">and group_id in
                <foreach item="item" index="index" collection="collection" open="(" separator="," close=")">
                    #{item}
                </foreach>
            </if>
        </where>
        limit 1
    </select>


    <select id="getLocationByGroupId" parameterType="long" resultType="com.autel.cloud.pile.base.dto.OpLocationNameDTO">
        SELECT olp.group_id AS groupId, ol.id AS locationId, ol.`name` AS locationName, ol.address as address
        FROM `op_location_operation` olp
        INNER JOIN `op_location` ol ON ol.id = olp.`location_id`
        WHERE olp.deleted = 0 and ol.deleted = 0 and  olp.group_id IN
        <foreach item="item" index="index" collection="list" open="(" separator="," close=")">
           #{item}
        </foreach>
    </select>
</mapper>
