<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.autel.cloud.pile.base.infrastructure.mapper.OpLocationImageMapper">
    <update id="deleteByLocationId" parameterType="Long">
        update op_location_image
        set deleted = 1
        where location_id = #{locationId}
    </update>

    <update id="updateByLocationId" parameterType="com.autel.cloud.pile.base.infrastructure.mapper.entity.OpLocationImageEntity">
        update op_location_image
        set update_at = #{updateAt}, deleted = #{deleted}, status = #{status}
        where location_id = #{locationId}
    </update>

    <select id="selectByLocationId" parameterType="Long" resultType="Long">
        select image_id from op_location_image
        where location_id = #{locationId} and deleted = 0
    </select>

    <select id="selectImageByLocationIdList" parameterType="java.util.List" resultType="com.autel.cloud.pile.base.vo.OpLocationDetailImageVO">
        select l.location_id,l.image_id id, i.url, i.thumbnail, i.type, i.width, i.height
        from op_location_image l left join op_image i on l.image_id = i.id
        where l.deleted = 0 and  l.location_id in
        <foreach collection="locationIdList" index="index" item="id" open="(" close=")" separator=",">
            #{id}
        </foreach>
    </select>
</mapper>
