<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.autel.cloud.pile.base.infrastructure.mapper.OpLocationPriceMapper">
    <sql id="Base_Column_List">
        id,create_at,update_at,
        deleted,location_id,seller_id,
        name,version
    </sql>
</mapper>
