<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.autel.cloud.pile.base.infrastructure.mapper.RuleDetailMapper">

    <insert id="insertBatchByRuleId">
        insert into tb_rule_detail(
        id,
        rule_id,
        days,
        start_time,
        end_time,
        member_group_id,
        action,
        action_type,
        country_code,
        phone_number,
        email,
        creat_time)
        values
        <foreach collection="insertList" item="it" separator=",">
            (
            #{it.id},
            #{it.ruleId},
            #{it.days},
            #{it.startTime},
            #{it.endTime},
            #{it.memberGroupId},
            #{it.action},
            #{it.actionType},
            #{it.countryCode},
            #{it.phoneNumber},
            #{it.email},
            #{it.creatTime}
            )
        </foreach>

    </insert>
    <select id="findUse" resultType="java.lang.Long">
        SELECT DISTINCT(r.seller_id)
        FROM tb_rule r
                 LEFT JOIN tb_rule_detail d on r.id = d.rule_id
        WHERE r.deleted = 0
          AND d.deleted = 0
          AND FIND_IN_SET('0', d.member_group_id) > 0;
    </select>
</mapper>
