<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.autel.cloud.pile.base.infrastructure.mapper.RuleMapper">

    <sql id="Base_Column_List">
        id
        ,name,days,
        details,seller_id,create_time,
        update_time,deleted,version
    </sql>
    <resultMap id="ruleDetailMap" type="com.autel.cloud.pile.base.vo.RuleDetailVO">
        <result column="id" property="id"/>
        <result column="days" property="days"/>
        <result column="start_time" property="startTime"/>
        <result column="end_time" property="endTime"/>
        <result column="member_group_id" property="memberGroupId"/>
        <result column="action" property="action"/>
        <result column="action_type" property="actionType"/>
    </resultMap>
    <resultMap id="ruleMap" type="com.autel.cloud.pile.base.vo.RuleVO">
        <result column="id" property="id"/>
        <result column="name" property="name"/>
        <result column="rule_type" property="ruleType"/>
        <collection property="details" ofType="ruleDetailMap" column="id" select="findRuleDetail"></collection>
    </resultMap>

    <select id="findRuleByLocationIds" resultType="com.autel.cloud.pile.base.dto.RuleLocationPileDTO">
        select r.id as ruleId,
        r.name as ruleName,
        lp.location_id as locationId,
        lp.pile_id as pileId
        from tb_rule_location_pile lp
        left join tb_rule r on r.id = lp.rule_id
        where r.deleted = 0
        <if test="keyword != null and keyword != '' ">
            and LOCATE(#{keyword}, r.`name`) > 0
        </if>
        <if test="ruleId != null ">
            and r.id =#{ruleId}
        </if>
        <if test="locationIds != null and locationIds.size() > 0">
            and lp.location_id in
            <foreach collection="locationIds" item="it" open="(" close=")" separator=",">
                #{it}
            </foreach>
        </if>
    </select>

    <select id="findRulesBySellerId" resultMap="ruleMap">
        select r.id as id,
               r.rule_type,
        r.name as `name`
        from tb_rule r
        where r.deleted = 0 and r.seller_id = #{sellerId}
        <if test="keyword != null and keyword != '' ">
            and LOCATE(#{keyword}, r.`name`) > 0
        </if>
        order by r.id
    </select>
    <select id="findRuleDetail" resultMap="ruleDetailMap">
        select rd.days, rd.start_time, rd.end_time, rd.member_group_id, rd.action, rd.action_type
        from tb_rule_detail rd
        where rd.rule_id = #{id} and rd.deleted = 0
    </select>
    <select id="getNameByLocationIdAndPileId" resultType="java.lang.String">
        select r.name
        from tb_rule r
                 left join tb_rule_location_pile lp on r.id = lp.rule_id
        where r.deleted = 0
          and lp.location_id = #{locationId}
          and lp.pile_id = #{pileId} limit 1
    </select>
    <select id="findById" resultMap="ruleMap">
        select id,name,member_type from tb_rule where id = #{ruleId}
    </select>
    <select id="findRelateCount" resultType="com.autel.cloud.pile.base.vo.RuleVO">
        select r.id   as id,
               count(distinct p.location_id) as siteCount,
               count(distinct p.pile_id) as pileCount,
               r.name as `name`
        from tb_rule r
                 left join tb_rule_location_pile p on r.id = p.rule_id
        where r.deleted = 0
        <if test="pileIds != null and pileIds.size() > 0">
            and p.pile_id in
            <foreach collection="pileIds" item="it" open="(" close=")" separator=",">
                #{it}
            </foreach>
        </if>
        GROUP BY r.id
    </select>
    <select id="findCountByRuleIds" resultType="com.autel.cloud.pile.base.vo.RuleVO">
        select r.id   as id,
        count(distinct p.location_id) as siteCount,
        count(distinct p.pile_id) as pileCount,
        count(distinct p.evse_sn) as evseCount,
        r.member_type as memberType,
        r.rule_type,
        r.name as `name`
        from tb_rule r
        left join tb_rule_location_pile p on r.id = p.rule_id
        where r.deleted = 0 and r.seller_id = #{sellerId}
        <if test="evseSnList != null and evseSnList.size() > 0">
            and p.evse_sn in
            <foreach collection="evseSnList" item="it" open="(" close=")" separator=",">
                #{it}
            </foreach>
        </if>
        group by r.id
    </select>
    <select id="findEvseBySellerId" resultType="com.autel.cloud.pile.base.vo.SerachBindEvseVO">
        select r.id,
        r.seller_id,
        p.location_id as locationId,
        p.pile_id as pileId,
        p.pile_sn as pileSn,
        p.evse_sn as evseSn,
        p.pile_name as pileName
        from tb_rule_location_pile p
        left join tb_rule r on r.id = p.rule_id
        where r.deleted = 0
        <if test="sellerId != null and sellerId != ''">
            and r.seller_id = #{sellerId}
        </if>
        <if test="dto.locationId != null">
        and p.location_id = #{dto.locationId}
        </if>
        <if test="dto.ruleId != null">
            and r.id = #{dto.ruleId}
        </if>
        <if test="dto.keyWord != null and dto.keyWord != ''">
            and (LOCATE(#{dto.keyWord},p.`pile_sn`) > 0 or LOCATE(#{dto.keyWord},p.`pile_name`) > 0)
        </if>
    </select>
    <select id="searchPage" resultMap="ruleMap">
        select r.id   as id,
        r.member_type as memberType,
        r.name as `name`,
        r.rule_type
        from tb_rule r
        left join tb_rule_location_pile p on r.id = p.rule_id
        where r.deleted = 0 and r.seller_id = #{sellerId}
        <if test="dto.locationId != null and dto.locationId != ''">
            and p.location_id = #{dto.locationId}
        </if>
        <if test="dto.keyWord != null and dto.keyWord != ''">
            and (LOCATE(#{dto.keyWord},p.`pile_sn`) > 0 or LOCATE(#{dto.keyWord},p.`pile_name`) > 0 or LOCATE(#{dto.keyWord},r.`name`) > 0)
        </if>
        group by r.id
        ORDER BY CONVERT(name USING GBK) ${dto.orderType}
    </select>
    <select id="getRuleNameByGroupId" resultType="com.autel.cloud.pile.base.vo.RuleGroupVO">
        select r.id as ruleId,r.name as name,d.member_group_id as memberGroupId
        from tb_rule r left join tb_rule_detail d on r.id = d.rule_id
        where r.seller_id = #{sellerId} and
        <foreach item="it" collection="groupIds" separator="OR" open="(" close=")">
            find_in_set(#{it},d.member_group_id)
        </foreach>
        group by r.id
    </select>
    <select id="findBindEvseBySellerId" resultType="com.autel.cloud.pile.base.vo.SerachBindEvseVO">
        select r.id,
        r.seller_id,
        p.location_id as locationId,
        p.pile_id as pileId,
        p.pile_sn as pileSn,
        p.evse_sn as evseSn,
        p.pile_name as pileName
        from tb_rule r
        left join tb_rule_location_pile p on r.id = p.rule_id
        where r.deleted = 0 and p.evse_sn is not null
        <if test="sellerId != null and sellerId != ''">
            and r.seller_id = #{sellerId}
        </if>
        group by p.evse_sn
    </select>
    <select id="findListByEvseSn" resultType="com.autel.cloud.pile.base.vo.SerachBindEvseVO">
        select r.id,
               r.seller_id,
               p.location_id as locationId,
               p.pile_id     as pileId,
               p.pile_sn     as pileSn,
               p.evse_sn     as evseSn,
               p.pile_name   as pileName
        from tb_rule_location_pile p
                 left join tb_rule r on r.id = p.rule_id
        where r.deleted = 0
          <if test="evseSnList != null and evseSnList.size() > 0">
              <foreach collection="evseSnList" item="it" open=" and p.evse_sn in (" close=")" separator=",">
                  #{it}
              </foreach>
          </if>
          and r.seller_id = #{sellerId}
    </select>
    <select id="findRulesList" resultType="com.autel.cloud.pile.base.vo.batch.EvseRuleVO">
        select r.id as id,
        r.name as ruleName
        from tb_rule r
        where r.deleted = 0
          and r.seller_id = #{sellerId}
        group by r.id
        order by r.name asc
    </select>
    <select id="findBindEvseAndRule" resultType="com.autel.cloud.pile.base.vo.batch.BindRuleEvseVo">
        select r.id as ruleId,
        r.seller_id,
        p.location_id as locationId,
        p.pile_id     as pileId,
        p.pile_sn     as pileSn,
        p.evse_sn     as evseSn,
        p.pile_name   as pileName
        from tb_rule_location_pile p
            left join tb_rule r on r.id = p.rule_id
        where r.deleted = 0
        <if test="evseSnList != null and evseSnList.size() > 0">
            <foreach collection="evseSnList" item="it" open=" and p.evse_sn in (" close=")" separator=",">
                #{it}
            </foreach>
        </if>
        and r.seller_id = #{sellerId}
    </select>
</mapper>
